body {
  background-color: #AEB8FE;
}

.dice {
  display: flex; 
  flex-wrap: wrap;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: #EFE5DC;
  /* margin: 100px; */
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: black;
  margin: 5px; 
  visibility: hidden;  
}

.show {
  visibility: visible;
}

.dice:active {
  -webkit-animation : shake 1s infinite;
           animation: shake 1s infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -4px) rotate(-10deg); }
  20% { transform: translate(-6px, 0px) rotate(10deg); }
  30% { transform: translate(6px, 4px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(10deg); }
  50% { transform: translate(-2px, 4px) rotate(-10deg); }
  60% { transform: translate(-6px, 2px) rotate(0deg); }
  70% { transform: translate(6px, 2px) rotate(-10deg); }
  80% { transform: translate(-2px, -2px) rotate(10deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -4px) rotate(-10deg); }
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#diceValue {
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
}